<div >
  <div *ngIf="animals.length > 0; else noAnimals">
    <div class="card-animals">
      <div *ngFor="let animal of animals">
        <img src="https://www.thevoicefoundation.org/src/views/login/foundation/images/20240907091619_0.jpg" height="306" style="cursor: pointer;">
        <div class="card-box-select">{{animal.name}}</div>
      </div>
    </div>
  </div>

  <ng-template #noAnimals>
    <div class="box">
      <div class="box-search">
        <div> 
          <img src="https://cdn-icons-png.flaticon.com/128/158/158398.png" width="100">
          ขออภัยไม่มีข้อมูลสัตว์ที่คุณกำลังหาในขณะนี้
        </div>
      </div>
    </div>
  </ng-template>
</div>