.card-animals {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 10px; 
    width: 90%;
    align-items: center;
    justify-items: center;
    margin: auto;
    text-align: center;
    transition: transform 0.3s ease; 
}

.card-animals > div {
    transition: transform 0.3s ease; 
}

.card-animals > div:hover {
    transform: scale(0.9); 
}


  .card-box-select {
    width: 100%;
    height: 5vh;
    background-color: #E9D090;
    margin-top: 3vh;
    margin-bottom: 3vh;
    padding: 0;
  

    display: flex; 
    justify-content: center; 
    align-items: center; 
    cursor: pointer;
  }

  @media (max-width: 991.98px) {
    .card-animals {
        grid-template-columns: repeat(2, 1fr); 
    }
  }
  
