<p-toast position="top-right"></p-toast>
<div class="container my-5">
  <h2 class="heading mb-5">ข้อมูลสัตว์</h2>
  <form
    [formGroup]="animalForm"
    (ngSubmit)="onSubmit()"
    class="p-fluid p-formgrid p-grid"
    style="max-width: 600px; margin: auto"
  >
    <div class="row mb-3">
      <label for="name" class="col-md-4 col-form-label">ชื่อ</label>
      <div class="col-md-8">
        <input
          id="name"
          type="text"
          pInputText
          class="form-control"
          formControlName="name"
          required
        />
        <div
          *ngIf="
            animalForm.get('name')?.invalid && animalForm.get('name')?.touched
          "
          class="text-danger"
        >
          ชื่อต้องไม่เว้นว่าง
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <label class="col-md-4 col-form-label">เพศ</label>
      <div class="col-md-8">
        <p-radioButton
          name="gender"
          value="Female"
          formControlName="gender"
          id="g1"
          class="mx-2"
        ></p-radioButton>
        <label for="g1"> เพศเมีย </label>

        <p-radioButton
          name="gender"
          value="Male"
          formControlName="gender"
          id="g2"
          class="mx-2"
        ></p-radioButton>
        <label for="g2"> เพศผู้ </label>
      </div>
    </div>

    <div class="row mb-3">
      <label for="species" class="col-md-4 col-form-label">สปีชี่ส์</label>
      <div class="col-md-8">
        <p-dropdown
          [options]="speciesOptions"
          formControlName="species"
          placeholder="เลือกสปีชี่ส์"
        ></p-dropdown>
        <div
          *ngIf="
            animalForm.get('species')?.invalid &&
            animalForm.get('species')?.touched
          "
          class="text-danger"
        >
          โปรดเลือกสปีชี่ส์
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <label for="age" class="col-md-4 col-form-label">อายุ</label>
      <div class="col-md-8">
        <input
          id="age"
          type="number"
          pInputText
          class="form-control"
          formControlName="age"
        />
        <div
          *ngIf="
            animalForm.get('age')?.invalid && animalForm.get('age')?.touched
          "
          class="text-danger"
        >
          อายุต้องไม่เว้นว่างและเป็นตัวเลข
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <label for="color" class="col-md-4 col-form-label">ลักษณะ</label>
      <div class="col-md-8">
        <input
          id="color"
          type="text"
          pInputText
          class="form-control"
          formControlName="color"
        />
      </div>
    </div>

    <div class="row mb-3">
      <label for="size" class="col-md-4 col-form-label">ขนาด</label>
      <div class="col-md-8">
        <p-dropdown
          [options]="[
            { label: 'Small', value: 'Small' },
            { label: 'Medium', value: 'Medium' },
            { label: 'Large', value: 'Large' }
          ]"
          formControlName="size"
          placeholder="เลือกขนาด"
        ></p-dropdown>
        <div
          *ngIf="
            animalForm.get('size')?.invalid && animalForm.get('size')?.touched
          "
          class="text-danger"
        >
          โปรดเลือกขนาด
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <label for="personality" class="col-md-4 col-form-label">นิสัย</label>
      <div class="col-md-8">
        <input
          id="personality"
          type="text"
          pInputText
          class="form-control"
          formControlName="personality"
        />
      </div>
    </div>

    <div class="row mb-3">
      <label for="image" class="col-md-4 col-form-label">รูปภาพ</label>
      <div class="col-md-8">
        <input
          id="image"
          type="file"
          (change)="onImageUpload($event)"
          class="form-control"
        />
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-6 mt-2 md:mt-0">
        <button
          pButton
          type="button"
          label="ยกเลิก"
          class="btn btn-secondary w-100"
          (click)="animalForm.reset()"
        ></button>
      </div>
      <div class="col-md-6 mt-2 md:mt-0">
        <button
          pButton
          type="submit"
          label="เพิ่มข้อมูล"
          class="btn btn-org w-100"
          [disabled]="animalForm.invalid"
        ></button>
      </div>
    </div>
  </form>
</div>
