<p-toast position="top-right"></p-toast>
<div class="container p-5">
  <h2
    class="bg-white rounded-pill py-3 px-4 mb-5 text-center shadow-custom"
    [@fadeIn]
  >
    ข้อมูลสัตว์
  </h2>
  <form
    [formGroup]="animalForm"
    (ngSubmit)="onSubmit()"
    class="p-fluid p-formgrid p-grid bg-white rounded-1 shadow-custom p-4"
    style="max-width: 600px; margin: auto"
    [@zoomIn]
  >
    <div class="row mb-3">
      <label for="name" class="col-md-4 col-form-label">ชื่อ</label>
      <div class="col-md-8">
        <input
          id="name"
          type="text"
          pInputText
          class="form-control"
          formControlName="name"
          required
        />
        <div
          *ngIf="
            animalForm.get('name')?.invalid && animalForm.get('name')?.touched
          "
          class="text-danger"
        >
          <span *ngIf="animalForm.get('name')?.errors?.['required']">
            ชื่อต้องไม่เว้นว่าง
          </span>
          <span *ngIf="animalForm.get('name')?.errors?.['minlength']">
            ชื่อต้องยาวอย่างน้อย 3 ตัวอักษร
          </span>
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <label class="col-md-4 col-form-label">เพศ</label>
      <div class="col-md-8">
        <p-radioButton
          name="gender"
          value="Female"
          formControlName="gender"
          id="g1"
          class="mx-2"
        ></p-radioButton>
        <label for="g1"> เพศเมีย </label>

        <p-radioButton
          name="gender"
          value="Male"
          formControlName="gender"
          id="g2"
          class="mx-2"
        ></p-radioButton>
        <label for="g2"> เพศผู้ </label>
      </div>
    </div>

    <div class="row mb-3">
      <label for="species" class="col-md-4 col-form-label">สปีชี่ส์</label>
      <div class="col-md-8">
        <p-dropdown
          [options]="speciesOptions"
          formControlName="species"
          placeholder="เลือกสปีชี่ส์"
        ></p-dropdown>
        <div
          *ngIf="
            animalForm.get('species')?.invalid &&
            animalForm.get('species')?.touched
          "
          class="text-danger"
        >
          โปรดเลือกสปีชี่ส์
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <label for="age" class="col-md-4 col-form-label">อายุ</label>
      <div class="col-md-8">
        <input
          id="age"
          type="number"
          pInputText
          class="form-control"
          formControlName="age"
        />
        <div
          *ngIf="
            animalForm.get('age')?.invalid && animalForm.get('age')?.touched
          "
          class="text-danger"
        >
          <span *ngIf="animalForm.get('age')?.errors?.['required']">
            อายุห้ามเว้นว่าง
          </span>
          <span *ngIf="animalForm.get('age')?.errors?.['min']">
            อายุอย่างน้อยต้องมากกว่า 0 ปี
          </span>
          <span *ngIf="animalForm.get('age')?.errors?.['max']">
            อายุต้องน้อยกว่า 20 ปี
          </span>
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <label for="color" class="col-md-4 col-form-label">ลักษณะ</label>
      <div class="col-md-8">
        <input
          id="color"
          type="text"
          pInputText
          class="form-control"
          formControlName="color"
        />
      </div>
    </div>

    <div class="row mb-3">
      <label for="size" class="col-md-4 col-form-label">ขนาด</label>
      <div class="col-md-8">
        <p-dropdown
          [options]="[
            { label: 'Small', value: 'Small' },
            { label: 'Medium', value: 'Medium' },
            { label: 'Large', value: 'Large' }
          ]"
          formControlName="size"
          placeholder="เลือกขนาด"
        ></p-dropdown>
        <div
          *ngIf="
            animalForm.get('size')?.invalid && animalForm.get('size')?.touched
          "
          class="text-danger"
        >
          โปรดเลือกขนาด
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <label for="personality" class="col-md-4 col-form-label">นิสัย</label>
      <div class="col-md-8">
        <input
          id="personality"
          type="text"
          pInputText
          class="form-control"
          formControlName="personality"
        />
        <div
          *ngIf="
            animalForm.get('personality')?.invalid &&
            animalForm.get('personality')?.touched
          "
          class="text-danger"
        >
          นิสัยต้องมีความยาวระหว่าง 1 - 100 ตัวอักษร
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <label for="image" class="col-md-4 col-form-label">รูปภาพ</label>
      <div class="col-md-8">
        <input
          id="image"
          type="file"
          (change)="onImageUpload($event)"
          class="form-control"
        />
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-6 mt-2 md:mt-0">
        <button
          pButton
          type="button"
          label="ยกเลิก"
          class="btn btn-secondary w-100"
          [@buttonHover]="buttonState"
          (mouseenter)="onMouseEnter()"
          (mouseleave)="onMouseLeave()"
          (click)="cancel()"
        ></button>
      </div>
      <div class="col-md-6 mt-2 md:mt-0">
        <button
          pButton
          type="submit"
          label="เพิ่มข้อมูล"
          class="btn btn-org w-100"
          [@buttonHover]="buttonState"
          (mouseenter)="onMouseEnter()"
          (mouseleave)="onMouseLeave()"
          [disabled]="animalForm.invalid"
        ></button>
      </div>
    </div>
  </form>
</div>
