@media (min-width: 701px) and (max-width: 1400px)  {
    .card-animals {
        grid-template-columns: repeat(3, 1fr); 
        justify-content: center;
    }
    .show-animal {
      height: 200px !important;
    }
  }

  @media (max-width: 700px) {
    .card-animals {
      grid-template-columns: repeat(2, 1fr); 
      justify-content: center;
      max-width: 50%;
      .show-animal {
        height: 150px !important;
      }
  }
  }
  
  
  .box {
    display: flex;
    justify-content: center;
  } 

  .box-alert {
    display: flex;
    flex-direction: column; 
    background-color: #FF9292;
    width: 90%;
    margin-bottom: 2em;
    align-items: center;
    padding: 8em;
    font-size: large;
    transition: width 3s; 
    transition-delay: 1s;
  }
  
  .box-alert:hover { 
    width: 50%; 
  }

  .btn-org {
    background-color: #ffc107;
    color: white;
    font-weight: bold;
  }
  .btn-org:hover,
  .btn-org:active {
    background-color: #ffca2c;
    color: white;
  }

