.container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    padding: 20px;
    justify-content: center;
}

.animal-image {
    max-width: 400px;
    min-width: 200px;
    height: auto;
}

.text-container {
    max-width: 400px;
    padding-left: 20px;
}

.animal-name {
    margin-top: 20px;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}

.text-container p {
    margin: 5px 0;
    font-size: 17px;
    line-height: 1.5;
}

.btn-primary {
    color: white;
    background-color:  rgba(250, 129, 36, 0.8);
    border-color: rgba(250, 129, 36, 0.8);
}

.btn-primary:hover{
    color: white;
    background-color:  #ec6c08;
    border-color:  #ec6c08;
}

@media screen and (max-width: 700px) {

 .container {
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
    .text-container p {
        margin: 5px 0;
        font-size: 14px; 
    }

    .animal-image {
        width: 200px; 
    }
}


@media (min-width: 701px) and (max-width: 1400px)  {
    .animal-image {
        width: 100%;
        height: auto; 
    }
   
  }

  