<div class="container">
    <img [src]="animalData.image_url" class="animal-image" (click)="openModal(animalData.image_url, 'Caption for Image 1')">
    <div class="text-container">
        <div class="animal-name">{{animalData.name}}</div>
        <p>Gender: <span>{{animalData.gender}}</span></p>
        <p>Age: <span>{{animalData.age}}</span></p>
        <p>Size: <span>{{animalData.size}} </span></p>
        <p>Color: <span>{{animalData.color}} </span></p>
        <p>Personality: <span>{{animalData.personality}}</span></p>
        <p>อาการ/โรค: <span>{{treatment}}</span></p>
        

        <div>
        <div [ngSwitch]="title">
            <div *ngSwitchCase="'เคสรักษา'"> 
                <div class="box-btn">
                <a
                href="/donate"
                class="btn btn-donate rounded-pill p-0 "
                ><img
                src="https://www.thevoicefoundation.org/src/asset/img/iconDonate.png"
                class="m-2 r-img"
                alt="Donate"
                />
                <span class="position-relative rd-bottom">กดบริจาค</span></a
            >
                </div>
            </div>
        
            <div *ngSwitchCase="'โครงการอุ้มรัก'"> 
                <div class="box-btn">
                <a
                href="/donate"
                class="btn btn-donate rounded-pill p-0 "
                ><img
                src="https://www.thevoicefoundation.org/src/asset/img/iconDonate.png"
                class="m-2 r-img"
                alt="Donate"
                />
                <span class="position-relative rd-bottom">กดบริจาค</span></a
            >
                </div>
            </div>

            <div *ngSwitchDefault>
            <button *ngIf="show" (click)="Click()" type="button" class="btn btn-primary   rounded-pill  mt-3 ">รับอุปการะ</button>
            <p class="animal-name" *ngIf="!show">จำนวนคำขอการอุปการะ : 0</p>
            </div>
        </div>
</div>  
</div>

<div class="modal" [ngClass]="{'show-modal': isModalOpen}">
    <span class="close" (click)="closeModal()">&times;</span>
    <img class="modal-content" [src]="modalImage" alt="Modal Image">
  </div>



  