<div class="container">
    <div class="icon-group">
        <img src="https://www.thevoicefoundation.org/src/asset/img/case-recovering.webp" alt="กำลังรักษา" class="icon-img"/>
        <div class="icon-show">
            <p class="icon-info">กำลังรักษา</p>
            <p class="icon-info2">5</p>
        </div>
    </div>
    <div class="vl"></div>
    <div class="icon-group">
        <img src="https://www.thevoicefoundation.org/src/asset/img/case-findahome.webp" alt="หาบ้านให้น้อง" class="icon-img"/>
        <div class="icon-show">
            <p class="icon-info">หาบ้านให้น้อง</p>
            <p class="icon-info2">7</p>
        </div>
    </div>
    <div class="vl"></div>
    <div class="icon-group">
        <img src="https://www.thevoicefoundation.org/src/asset/img/case-love.webp" alt="โครงการอุ้มรัก" class="icon-img"/>
        <div class="icon-show">
            <p class="icon-info">โครงการอุ้มรัก</p>
            <p class="icon-info2">9</p>
        </div>
    </div>
    <div class="vl"></div>
    <div class="icon-group">
        <img src="https://www.thevoicefoundation.org/src/asset/img/case-spayed.webp" alt="ทำหมันเรียบร้อย" class="icon-img"/>
        <div class="icon-show">
            <p class="icon-info">ทำหมันเรียบร้อย</p>
            <p class="icon-info2">10</p>
        </div>
    </div>
    
    <div class="vl"></div>
    <div class="icon-group">
        <img src="https://www.thevoicefoundation.org/src/asset/img/case-allcase.webp" alt="เคสทั้งหมด" class="icon-img2"/>
        <div class="icon-show">
            <p class="icon-info">เคสทั้งหมด</p>
            <p class="icon-info2">31</p>
        </div>
    </div>
</div>