<div class="container p-5">
  <h2 class="bg-white rounded-pill py-3 px-4 mb-5 text-center shadow-custom">
    รายการคำขอรับเลี้ยงสัตว์
  </h2>
  <div class="row p-4">
    <div class="col-md-3" *ngFor="let animal of animals">
      <app-animal-card
        [animal]="animal"
        (click)="onAnimalCardClick(animal._id)"
      ></app-animal-card>
    </div>
  </div>

  <p-paginator
    [rows]="rows"
    [totalRecords]="totalRecords"
    [rowsPerPageOptions]="[8, 16, 24]"
    (onPageChange)="paginate($event)"
  ></p-paginator>
</div>
