

<div>
  <app-navbar></app-navbar>
  <app-banner
    src="https://www.thevoicefoundation.org/src/asset/img/slides/20231219024131_0.jpg"
  ></app-banner>
  <h2 class="heading m-5">กิจกรรม</h2>

  <div *ngIf="loading" class="text-center">
    <p>Loading news...</p>
  </div>


    <div *ngIf="!loading">
      <div class="card-news mb-5">
        <div *ngFor="let new of news" (click)="selectNews(new._id)">
          <img [src]="new.image" class="show-news" />
          <div class="card-box-select fonst-card">{{ new.name }}</div>
          <div class="read">อ่านต่อ</div>
        </div>
      </div>
    </div>

</div>
