<div class="container d-flex flex-column align-items-center gap-2">
  <div class="image-container bg-white shadow-custom p-1 rounded-0">
    <img
      *ngIf="animalForm.get('image_url')?.value"
      [src]="animalForm.get('image_url')?.value"
      alt="Animal Image"
      class="img-fluid rounded-0 mx-auto d-block image-frame"
    />
  </div>

  <div class="col-12 bg-white p-4 mt-3 shadow-custom text-brown">
    <div class="d-flex flex-column gap-2">
      <div class="d-flex align-items-center mb-1">
        <span class="fw-bold me-2">Name:</span>
        <span class="text-dark">
          {{ animalForm.get("name")?.value }}
        </span>
      </div>
      <div class="d-flex align-items-center mb-1">
        <span class="fw-bold text-brown me-2">Age:</span>
        <span class="text-dark">{{ animalForm.get("age")?.value }}</span>
      </div>
      <div class="d-flex align-items-center mb-1">
        <span class="fw-bold text-brown me-2">Size:</span>
        <span class="text-dark">
          {{ animalForm.get("size")?.value }}
        </span>
      </div>
      <div class="d-flex align-items-center mb-1">
        <span class="fw-bold text-brown me-2">Diagnosis:</span>
        <span class="text-dark">
          {{ animalForm.get("diagnosis")?.value }}
        </span>
      </div>
      <div class="d-flex align-items-center mb-1">
        <span class="fw-bold text-brown me-2">Treatment:</span>
        <span class="text-dark">
          {{ animalForm.get("treatment")?.value }}
        </span>
      </div>
      <div class="d-flex align-items-center mb-1">
        <span class="fw-bold text-brown me-2">Note:</span>
        <span class="text-dark">
          {{ animalForm.get("notes")?.value }}
        </span>
      </div>
      <div class="d-flex align-items-center mb-1">
        <span class="fw-bold text-brown me-2">Checkup date:</span>
        <span class="text-dark">
          {{ animalForm.get("checkup_date")?.value }}
        </span>
      </div>
    </div>
  </div>
</div>
