<div class="container d-flex flex-column align-items-center gap-2">
  <div class="mb-4 col-12 d-flex">
    <img
      *ngIf="animalForm.get('image_url')?.value"
      [src]="animalForm.get('image_url')?.value"
      alt="Animal Image"
      class="img-fluid rounded shadow"
      style="max-width: 100%; height: 400px"
    />
  </div>

  <div class="col-12">
    <div class="row mb-2">
      <div class="col-5 fw-bold">Name:</div>
      <div class="col-7">
        {{ animalForm.get("name")?.value }}
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-5 fw-bold">Age:</div>
      <div class="col-7">{{ animalForm.get("age")?.value }}</div>
    </div>
    <div class="row mb-2">
      <div class="col-5 fw-bold">Size:</div>
      <div class="col-7">
        {{ animalForm.get("size")?.value }}
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-5 fw-bold">Diagnosis:</div>
      <div class="col-7">
        {{ animalForm.get("diagnosis")?.value }}
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-5 fw-bold">Treatment:</div>
      <div class="col-7">
        {{ animalForm.get("treatment")?.value }}
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-5 fw-bold">Note:</div>
      <div class="col-7">
        {{ animalForm.get("notes")?.value }}
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-5 fw-bold">Checkup date:</div>
      <div class="col-7">
        {{ animalForm.get("checkup_date")?.value }}
      </div>
    </div>
  </div>
</div>
