<div class="box-container">
  <div class="box-search" [style.background-color]="color">
    <div class="in-box-search">
      <div class="for-search">
        <h3>ประเภทสัตว์</h3>
        <div class="search-type">
          <div class="m-3">
            <div class="card-select custom-radio-group" (click)="selectRadioSpecies(2)">
              <img src="https://www.thevoicefoundation.org/src/asset/img/a1.webp" /> 
              <h6 class="m-2">Dog</h6> 
              <div>
                <input class="custom-radio" type="radio" name="radioDefault" id="Dog"
                  [checked]="(specie$ | async) === 2"> 
              </div>
            </div>
          </div>
          
          <div class="m-3">
            <div class="card-select custom-radio-group" (click)="selectRadioSpecies(1)">
              <img src="https://www.thevoicefoundation.org/src/asset/img/a2.webp" /> 
              <h6 class="m-2">Cat</h6> 
              <div>
                <input class="custom-radio" type="radio" name="radioDefault" id="Cat"
                  [checked]="(specie$ | async) === 1"> 
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="for-search">
        <h3>เพศ</h3>
        <div class="gender-selection">
          <div class="m-3 sex-select" (click)="selectRadioSex('Male')">
            <img src="https://www.thevoicefoundation.org/src/asset/img/a4.webp" />
            <h6 class="m-2">Male</h6>
            <div class="">
              <input class="custom-radio" type="radio" name="radioGender" id="1"
                [checked]="(gender$ | async) === 'male'">
            </div>
          </div>
          <div class="m-3 sex-select" (click)="selectRadioSex('Female')">
            <img src="https://www.thevoicefoundation.org/src/asset/img/a5.webp" />
            <h6 class="m-2">Female</h6>
            <div class="">
              <input class="custom-radio" type="radio" name="radioGender" id="2"
                [checked]="(gender$ | async) === 'female'">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="search-age-box">
      <div>เริ่มช่วงอายุ (ปี)</div>
      <div>
        <select class="form-select" aria-label="Default select" id="currentAge" (change)="selectAgeRange($event)">
          <option *ngFor="let age of getAllAge()" [value]="age.age">
            {{ age.rang_age }}
          </option>
        </select>
      </div>
      <div>
        <button type="button" class="btn btn-primary" (click)="searchWorking()">
          ค้นหา
        </button>
      </div>
    </div>
  </div>
  <div class="card-container">
    <div class="card-container">
      <app-card-in-saerch *ngIf="showFind"
        

      >
      </app-card-in-saerch>
      <app-card-in-search-treat *ngIf="showTreat" 
        
      >
      </app-card-in-search-treat>
    </div>
  </div>
</div>