<div class="container d-flex flex-column align-items-center">
  <div class="image-container bg-white shadow-custom p-1 rounded-0">
    <img
      [src]="data.image_url"
      [alt]="data.name"
      title="Image of {{ data.name }}"
      class="img-fluid rounded-0 mx-auto d-block image-frame"
    />
  </div>

  <div class="col-12 bg-white p-4 mt-3 shadow-custom text-brown">
    <div class="d-flex flex-column gap-2">
      <div class="d-flex align-items-center mb-1">
        <span class="fw-bold me-2">Name:</span>
        <span class="text-dark">{{ animalForm.get("name")?.value }}</span>
      </div>
      <div class="d-flex align-items-center mb-1">
        <span class="fw-bold text-brown me-2">Gender:</span>
        <span class="text-dark">{{ animalForm.get("gender")?.value }}</span>
      </div>
      <div class="d-flex align-items-center mb-1">
        <span class="fw-bold text-brown me-2">Species:</span>
        <span class="text-dark">{{ animalForm.get("species")?.value }}</span>
      </div>
      <div class="d-flex align-items-center mb-1">
        <span class="fw-bold text-brown me-2">Age:</span>
        <span class="text-dark">{{ animalForm.get("age")?.value }}</span>
      </div>
      <div class="d-flex align-items-center mb-1">
        <span class="fw-bold text-brown me-2">Size:</span>
        <span class="text-dark">{{ animalForm.get("size")?.value }}</span>
      </div>
      <div class="d-flex align-items-center mb-1">
        <span class="fw-bold text-brown me-2">Color:</span>
        <span class="text-dark">{{ animalForm.get("color")?.value }}</span>
      </div>
      <div class="d-flex align-items-center mb-1">
        <span class="fw-bold text-brown me-2">Personality:</span>
        <span class="text-dark">{{
          animalForm.get("personality")?.value
        }}</span>
      </div>
      <div class="d-flex align-items-center mb-1">
        <span class="fw-bold text-brown me-2">Status:</span>
        <span class="text-danger fs-5 fw-medium">{{
          animalForm.get("status")?.value
        }}</span>
      </div>
    </div>
  </div>
</div>
