<div class="container d-flex flex-column align-items-center gap-2">
  <div class="mb-4 col-12 d-flex">
    <img
      *ngIf="animalForm.get('image_url')?.value"
      [src]="animalForm.get('image_url')?.value"
      alt="Animal Image"
      class="img-fluid rounded shadow"
      style="max-width: 100%; height: 400px"
    />
  </div>

  <div class="col-12">
    <div class="row mb-2">
      <div class="col-5 fw-bold">Name:</div>
      <div class="col-7">
        {{ animalForm.get("name")?.value }}
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-5 fw-bold">Gender:</div>
      <div class="col-7">
        {{ animalForm.get("gender")?.value }}
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-5 fw-bold">Species:</div>
      <div class="col-7">
        {{ animalForm.get("species")?.value }}
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-5 fw-bold">Age:</div>
      <div class="col-7">{{ animalForm.get("age")?.value }}</div>
    </div>
    <div class="row mb-2">
      <div class="col-5 fw-bold">Size:</div>
      <div class="col-7">
        {{ animalForm.get("size")?.value }}
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-5 fw-bold">Color:</div>
      <div class="col-7">
        {{ animalForm.get("color")?.value }}
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-5 fw-bold">Personality:</div>
      <div class="col-7">
        {{ animalForm.get("personality")?.value }}
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-5 fw-bold">Symptoms:</div>
      <div class="col-7">
        {{ animalForm.get("symptoms")?.value }}
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-5 fw-bold">Status:</div>
      <div class="col-7">
        {{ animalForm.get("status")?.value }}
      </div>
    </div>
  </div>
</div>
