<div class="container mt-3 mb-5">
  <div class="row align-items-center">
    <div class="col"><div style="height: 3px; background: #f8af24"></div></div>
    <div class="col-auto bg-white px-5 py-3 h4 fw-bold color-font">
      ติดต่อเรา
    </div>
    <div class="col"><div style="height: 3px; background: #f8af24"></div></div>
  </div>
  <div class="row px-lg-5 text-brown">
    <div class="row gap-3 align-items-center">
      <div class="col-lg-7 color-font">
        <h4>
          <span style="font-size: 20px">มหาวิทยาลัยเทคโนโลยีสุรนารี (SUT)</span>
          <!-- มหาวิทยาลัยเทคโนโลยีสุรนารี 111 ถนนมหาวิทยาลัย ตำบลสุรนารี อำเภอเมือง
          จังหวัดนครราชสีมา 30000 โทรศัพท์ 0-4422-3000 โทรสาร 0-4422-4070 -->
        </h4>
        <p class="lh-lg">
          <span style="font-size: 18px"
            >มหาวิทยาลัยเทคโนโลยีสุรนารี 111 ถนนมหาวิทยาลัย ตำบลสุรนารี
            อำเภอเมือง จังหวัดนครราชสีมา 30000 เขตบางรัก กรุงเทพมหานคร
            10500</span
          ><br /><span style="font-size: 18px">โทรศัพท์ : 0-4422-3000</span>
        </p>
      </div>
      <div class="col color-font">
        <p>
          <img
            src="https://www.thevoicefoundation.org/src/tinymceElfinder/uploaded/contacts/ic_fb.png"
            alt="ic_fb.png"
            width="48"
            height="48"
          />&nbsp; The Voice (เสียงจากเรา)
        </p>
        <p>
          <img
            src="https://www.thevoicefoundation.org/src/tinymceElfinder/uploaded/contacts/ig_cir.png"
            alt="ig_cir.png"
            width="50"
            height="50"
          />&nbsp; THEVOICEFOUNDATION
        </p>
        <p>
          <img
            src="https://www.thevoicefoundation.org/src/tinymceElfinder/uploaded/contacts/ic_line_2.png"
            alt="ic_line_2.png"
            width="55"
            height="52"
          />
          &#64;thevoicefoundation
        </p>
      </div>
    </div>
  </div>
</div>
