<div class="container my-5">
  <h2 class="heading text-center fw-bold">เกี่ยวกับเรา</h2>

  <div class="row justify-content-center align-items-center gap-4 mt-5">
    <div class="col-lg-6 text-brown">
      <h4 class="fw-normal">จุดเริ่มต้น...เดอะวอยซ์ (เสียงจากเรา)</h4>
      <p class="fw-normal">
        จากเหตุการณ์มหาอุทกภัยในปี 2554 "คุณเก๋ ชลลดา"ได้ออกมาเคลื่อนไหว
        ช่วยเหลือสัตว์จรจัดที่ไม่มีทั้งที่พึ่งและพักพิงในช่วงนั้นและได้เล็งเห็นถึงปัญหา
        สัตว์จรจัดที่ควรช่วยกันแก้ไขและผลักดันสวัสดิภาพสัตว์ในสังคมไทยอย่าง
        ยั่งยืน จึงได้ก่อตั้งโครงการ "เดอะวอยซ์ (เสียงจากเรา) ขึ้นในปี พ.ศ. 2555
        และดำเนินงานเรื่อยมาจนเกิดเป็น มูลนิธิเดอะวอยซ์ เสียงจากเราในปี 2556
        เพื่อพัฒนาคุณภาพชีวิตสัตว์ยากไร้ในประเทศไทยให้ดียิ่งขึ้น
      </p>
    </div>
    <div class="col-lg-5">
      <img
        src="https://www.thevoicefoundation.org/src/tinymceElfinder/uploaded/aboutus/p_thai.jpg"
        alt="The Voice Foundation Founder"
        class="img-fluid mx-auto d-block"
      />
    </div>
  </div>
</div>
