<div class="bg-light-yellow">
  <div class="container py-5 text-brown">
    <div class="row">
      <div>
        <br />
        <div class="row gap-3 align-items-center">
          <div class="col-auto text-center">
            <img
              src="https://www.thevoicefoundation.org/src/tinymceElfinder/uploaded/aboutus/2-About-us-The-voice-A_14.png"
              alt="2-About-us-The-voice-A_14.png (304 KB)"
              width="330"
              height="579"
            />
          </div>
          <div class="col text-brown">
            <h4 class="fw-normal">
              การควบคุมประชากรสัตว์จรจัดและช่วยเหลือสังคม
            </h4>
            <p>
              <img
                src="https://www.thevoicefoundation.org/src/tinymceElfinder/uploaded/aboutus/iconfoot.png"
                alt="iconfoot.png (1 KB)"
                width="24"
                height="19"
              />&nbsp;เพื่อควบคุมประชากรสัตว์จรจัดในพื้นที่ชุมชน
            </p>
            <p>
              <img
                src="https://www.thevoicefoundation.org/src/tinymceElfinder/uploaded/aboutus/iconfoot.png"
                alt="iconfoot.png (1 KB)"
                width="24"
                height="19"
              />
              เพื่อให้ความรู้ ความเข้าใจเกี่ยวกับการทำหมันอย่างยั่งยืน
              จากอุบัตเหตุ, การทำร้าย จนถึงพิการ
            </p>
            <div>&nbsp;</div>
            <h4 class="fw-normal">การช่วยเหลือและการสนับสนุน</h4>
            <p>
              <img
                src="https://www.thevoicefoundation.org/src/tinymceElfinder/uploaded/aboutus/iconfoot.png"
                alt="iconfoot.png (1 KB)"
                width="24"
                height="19"
              />
              เพื่อช่วยเหลือสัตว์จรจัดที่ได้รับบาดเจ็บ
            </p>
            <p>
              <img
                src="https://www.thevoicefoundation.org/src/tinymceElfinder/uploaded/aboutus/iconfoot.png"
                alt="iconfoot.png (1 KB)"
                width="24"
                height="19"
              />
              การสนับสนุนกลุ่ม
              บ้านพักพิงที่ให้ความดูแลสัตว์จรจัดภายใต้การดำเนินงานของมูลนิธิฯ
              จนสิ้นอายุขัย
            </p>
            <div>&nbsp;</div>
            <h4 class="fw-normal">
              การให้ความรู้ ความเข้าใจ แก่เยาวชนและสังคม
            </h4>
            <p>
              <img
                src="https://www.thevoicefoundation.org/src/tinymceElfinder/uploaded/aboutus/iconfoot.png"
                alt="iconfoot.png (1 KB)"
                width="24"
                height="19"
              />
              ให้ความรู้ด้านการเลี้ยงสัตว์อย่างถูกวิธี &nbsp;
            </p>
            <p>
              <img
                src="https://www.thevoicefoundation.org/src/tinymceElfinder/uploaded/aboutus/iconfoot.png"
                alt="iconfoot.png (1 KB)"
                width="24"
                height="19"
              />
              จัดกิจกรรมอาสาเยาวชนเพื่อปลูกฝังจิตสำนึก &nbsp;
            </p>
            <p>
              <img
                src="https://www.thevoicefoundation.org/src/tinymceElfinder/uploaded/aboutus/iconfoot.png"
                alt="iconfoot.png (1 KB)"
                width="24"
                height="19"
              />
              จัดกิจกรรมอาสาสังคมเพื่อสร้างจิตสำนึกด้านการดูแลสัตว์เลี้ยงอย่างถูกต้อง
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
