<div class="bg-light-yellow">
  <div class="container py-5 text-brown">
    <div class="row">
      <div class="color-font fw-normal">
        <br />
        <p class="bg-white rounded-pill py-3 px-4">
          <img
            src="https://www.thevoicefoundation.org/src/tinymceElfinder/uploaded/aboutus/iconheart.png"
            alt="iconheart.png (1 KB)"
            width="21"
            height="18"
          />
          เพื่อช่วยเหลือและรักษาสัตว์จรจัดที่ได้รับอุบัติเหตุ ถูกทำร้าย
          หรือสัตว์ที่ถูกทิ้ง รวมถึงจัดหาผู้รับอุปการะใหม่
        </p>
        <p class="bg-white rounded-pill py-3 px-4">
          <img
            src="https://www.thevoicefoundation.org/src/tinymceElfinder/uploaded/aboutus/iconheart.png"
            alt="iconheart.png (1 KB)"
            width="21"
            height="18"
          />
          เพื่อช่วยเหลือสังคมในด้านการทำหมัน
          และเป็นการลดประชากรสัตว์จรอย่างยั่งยืน
        </p>
        <p class="bg-white rounded-pill py-3 px-4">
          <img
            src="https://www.thevoicefoundation.org/src/tinymceElfinder/uploaded/aboutus/iconheart.png"
            alt="iconheart.png (1 KB)"
            width="21"
            height="18"
          />
          เพื่อแนะแนวทาง และเป็นตัวอย่างในการช่วยเหลือสัตว์ให้แก่บุคคลทั่วไป
          ให้สามารถเข้าใจและพร้อมช่วยเหลือได้ด้วยตนเอง
        </p>
        <p class="bg-white rounded-pill py-3 px-4">
          <img
            src="https://www.thevoicefoundation.org/src/tinymceElfinder/uploaded/aboutus/iconheart.png"
            alt="iconheart.png (1 KB)"
            width="21"
            height="18"
          />
          เพื่อปลูกฝังจิตสำนึกในการเลี้ยงสัตว์แก่เยาวชน
          และเสริมสร้างเรื่องความรับผิดชอบต่อสัตว์เลี้ยงในสังคมทั่วไป
        </p>
      </div>
    </div>
  </div>
</div>
