<div class="container mb-5">
    <p class="fs-1">มูลนิธิเดอะวอยซ์</p>

    <div class="box">
        <div class="fs-4 text-center ">ชื่อบัญชี: มูลนิธิเดอะวอยซ์(เสียงจากเรา) ประเภท: ออมทรัพย์</div>
        <div class="d-flex flex-row mt-5 align-items-center justify-content-center container2"> 
            <div class="bank-group">
                <img src="https://mpics.mgronline.com/pics/Images/567000000546201.JPEG" alt="bank" class="bank-img mx-3"/>
                <div class="bank-info">
                    <p>ธนาคารกรุงเทพ</p>
                    <p>สาขาออลซีซั่นเพลส</p>
                    <p>เลขที่บัญชี: 037-011-9992</p>
                </div>
            </div>
            <div class="bank-group">
                <img src="https://www.kasikornbank.com/SiteCollectionDocuments/about/img/logo/logo.png" alt="bank" class="bank-img mx-3"/> 
                <div class="bank-info">
                    <p>ธนาคารกสิกรไทย</p>
                    <p>สาขาออลซีซั่นเพลส</p>
                    <p>เลขที่บัญชี: 617-2-12333-1</p>
                </div>
            </div>
        </div>
    </div>
</div>