<div>
    <app-navbar></app-navbar>
    <app-banner src="https://www.thevoicefoundation.org/src/asset/img/slides/20231219022301_0.jpg"></app-banner>
    <div class="box-container">
      <app-header-content-search 
      header="เคสรักษา" 
      content=" หลายชีวิตต้องพบเจอเรื่องราวเลวร้าย ไม่ว่าจะเป็น อุบัติเหตุ หรือการทารุณกรรม พวกเราตั้งปณิธานไว้ว่า จะรักษาและเยียวยาจิตใจให้เค้าได้มีชีวิตใหม่ที่ดีกว่าเดิม หรือกลับมาเป็นปกติให้ได้มากที่สุด แม้จะมีความหวังเพียง 1% พวกเราก็จะช่วยให้ถึงที่สุด"
      color="#FBDE9A">
    </app-header-content-search>
     <app-box-saerch color="#FBDE9A" title="เคสรักษา"></app-box-saerch>
    </div>
  </div>
  
  