<div>
<app-navbar></app-navbar>
<div class=" mt-5 mx-5">
    <h2 class="heading ">กิจกรรม</h2>
  </div>
<div class="container">
  <img [src]="news.image" class="news-image" (click)="openModal(news.image, news.name)"> 
    <div class="text-container">
        <div class="news-name">{{news.name}}</div>
        <p>Details: <span>{{news.details}}</span></p>
        <p>Date: <span>{{news.date | date:'longDate'}}</span></p>
        <p>Time: <span>{{news.time}}</span></p>
        <p>Location: <span>{{news.location}}</span></p>
        <p>Notes: <span>{{news.notes}}</span></p>
        <div>
</div>  


</div>



</div>

<!-- <div class="container2">
    <img src="https://www.thevoicefoundation.org/src/views/login/foundation/images/20240828094448_0.jpg" class="animals-image" (click)="openModal('https://www.thevoicefoundation.org/src/views/login/foundation/images/20240828094448_0.jpg', 'Caption for Image 1')">

    <img src="https://www.thevoicefoundation.org/src/views/login/foundation/images/20240828094448_0.jpg" class="animals-image" (click)="openModal('https://www.thevoicefoundation.org/src/views/login/foundation/images/20240828094448_0.jpg', 'Caption for Image 1')">

    <img src="https://www.thevoicefoundation.org/src/views/login/foundation/images/20240828094448_0.jpg" class="animals-image" (click)="openModal('https://www.thevoicefoundation.org/src/views/login/foundation/images/20240828094448_0.jpg', 'Caption for Image 1')">

    <img src="https://www.thevoicefoundation.org/src/views/login/foundation/images/20240828094448_0.jpg" class="animals-image" (click)="openModal('https://www.thevoicefoundation.org/src/views/login/foundation/images/20240828094448_0.jpg', 'Caption for Image 1')">

    <img src="https://www.thevoicefoundation.org/src/views/login/foundation/images/20240828094448_0.jpg" class="animals-image" (click)="openModal('https://www.thevoicefoundation.org/src/views/login/foundation/images/20240828094448_0.jpg', 'Caption for Image 1')">

    <img src="https://www.thevoicefoundation.org/src/views/login/foundation/images/20240828094448_0.jpg" class="animals-image" (click)="openModal('https://www.thevoicefoundation.org/src/views/login/foundation/images/20240828094448_0.jpg', 'Caption for Image 1')">

    <img src="https://www.thevoicefoundation.org/src/views/login/foundation/images/20240828094448_0.jpg" class="animals-image" (click)="openModal('https://www.thevoicefoundation.org/src/views/login/foundation/images/20240828094448_0.jpg', 'Caption for Image 1')">
</div> -->
  

  <div class="modal" [ngClass]="{'show-modal': isModalOpen}">
    <span class="close" (click)="closeModal()">&times;</span>
    <img class="modal-content" [src]="modalImage" alt="Modal Image">
  </div>



  