<div *ngIf="loading" class="text-center">
  <p>Loading animals...</p>
</div>


<div *ngIf="!loading">
<div >
  
    <div *ngIf="animals.length > 0; else noAnimals">
      <div class="card-animals">
        <div *ngFor="let animal of animals" (click)="selectAnimal(animal.animal_id._id,animal.treatment)"> 
          <img [src]="animal.animal_id.image_url" class="show-animal">
          <div class="card-box-select">{{animal.animal_id.name}}</div>
        </div>
      </div>
    </div>
  
  
    <ng-template #noAnimals>
      <div class="box">
        <div class="box-search">
          <div> 
            <img src="https://cdn-icons-png.flaticon.com/128/158/158398.png" width="100">
            ขออภัยไม่มีข้อมูลสัตว์ที่คุณกำลังหาในขณะนี้
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>