.btn {
  padding: 15px 30px;
  width: 30%;
}
.btn-warning {
  background-color: #fa8124;
  color: #fff;
  font-weight: 500;
  border: none;
}

.btn-warning:hover,
.btn-warning:active {
  background-color: #ea7922;
  color: #fff;
}

.heading {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  color: rgb(96, 50, 37);
}

.heading::before,
.heading::after {
  content: "";
  flex: 1;
  border-bottom: 6px solid #ffc107;
}

.heading::before {
  margin-right: 2.4em;
}

.heading::after {
  margin-left: 2.4em;
}
